.app{
  background-color: antiquewhite;
  width: 70%;
  margin: auto;
}

.header{
  text-align: center;
}

.form{
  align-content: center;
  background-color: green;
  padding: 10px;
}

.form > *{
  margin-top: 10px;
  border-radius: 10px;
  height: 2em;
}

.form-input, .form-select {
  display: block;
  width: 70%;
  margin: auto;
}

.form-input{
  
}
.form-select{

}